html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown .dropdown__list {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: red;
}